.records {
  width: 18%;
  border: 1px solid black;
  height: 30rem;
}

.title {
  font-weight: 800;
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

.users-container {
  width: 90%;
  margin: 0 auto;
}
