.user {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0.2em auto;
}

.user span {
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  width: 19rem;
}
