.price {
  width: 23%;
  border: 1px solid black;
}

.jokers {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3em;
  border-bottom: 2px solid black;
}

.jokers div {
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.4em;
  cursor: pointer;
  position: relative;
}

.jokers div.marked {
  pointer-events: none;
  background: rgb(236, 236, 236);
}

.jokers div.marked::after {
  content: "X";
  font-size: 3rem;
  color: red;
  position: absolute;
  left: 0;
  right: 0;
  top: -17px;
  text-align: center;
}

.take-money {
  display: block;
  width: 40%;
  margin: 0.5rem auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  background: transparent;
  border-radius: 0.2em;
  padding: 0.2em;
}
