.quiz {
  width: 55%;
  border: 1px solid black;
  height: 30rem;
}

/* start-game form styles */
.start-game,
.finish-game {
  max-width: 25em;
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.finish-game {
  width: 30em;
  background: red;
}

.taked-money {
  background: green;
}

.finish-game > div {
  display: flex;
  justify-content: space-between;
}

.finish-game span {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.money-notification {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 3em;
  text-align: center;
  transform: translateX(-50%) translateY(-70%);
}

.start-game form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game form > div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 16em;
  height: 4em;
}

.start-game form label {
  margin-left: 1.2em;
}

.start-game form input {
  border: 1px solid black;
  border-radius: 0.2em;
  height: 2em;
  padding-left: 0.5em;
  width: 16em;
  margin: 0 auto;
}

.nickname-validation {
  font-size: 0.7em;
  margin-left: 2.2em;
}

.correct {
  color: green;
}

.err {
  color: red;
}

.start-game form button {
  cursor: pointer;
  padding: 0.4em;
  margin-top: 2em;
}

/* game-section styles */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

header span {
  margin: 0.5em;
}

.question {
  width: 80%;
  margin: 2em auto;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}

.answers-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.answer {
  width: 45%;
  border: 1px dotted black;
  padding: 0.5em;
  border-radius: 0.2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.answer span {
  pointer-events: none;
}

.answer .bold-letters {
  margin-right: 2em;
  font-weight: bold;
}
